@import './base.css';
#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}

body {
    background-image: url('@/assets/test-background.png');
    background-color: #1b1b1b;
    text-align: justify;
    color: #9f9f9f;
    background-repeat: no-repeat;
}

@font-face {
    font-family: 'JUST Sans', sans-serif;
    src: url('https://fonts.cdnfonts.com/css/just-sans');
    font-weight: bold;
    font-style: normal;
}

a,
.green {
    text-decoration: none;
    color: #ec3e86;
    transition: 0.4s;
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }
    #app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
    }
}

.movingbar-data {
    width: 60%;
}

.navbar {
    background-color: #121212;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem
}

.navbar-brand {
    font-size: 1.5rem;
    font-family: 'JUST Sans', sans-serif;
    color: #ffffff;
}

.navbar-brand .hub {
    background-color: #ec3e86;
    border-radius: 5px;
    color: #131313;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-left: 1rem;
}

.nav-item-container {
    display: flex;
    align-items: center;
}

.nav-link {
    color: white;
    position: relative;
    overflow: hidden;
    transition: all 0.4s;
    text-transform: uppercase;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #ec3e86;
    border-radius: 5px;
    transition: width 0.4s;
}

.nav-link:hover::after {
    width: 100%;
    text-transform: uppercase;
}

button {
    border: none;
    color: #007bff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

button:hover {
    background-color: #007BFF;
    color: white;
}

.nav-link-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    text-align: left;
    margin: 0;
    text-transform: none;
    overflow: visible;
    text-transform: uppercase;
}

.ticker-box {
    color: black;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffcc00;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.not-logged-in-message {
    margin-top: 30px;
}

.crypto-basics {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(25, 26, 26);
    border-radius: 10px;
    margin-top: 30px;
}

.h1-guide,
.h2-guide {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

.p-guide {
    color: #ffffff;
    margin-bottom: 1rem;
}

.p-header {
    justify-content: center;
    text-align: center;
}

.justified {
    text-align: justify;
}

.disclaimer-h3 {
    font-size: 1.5rem;
    color: #a21d1d;
    margin-bottom: 1rem;
}

.header,
.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

.content {
    flex-grow: 1;
    margin-top: 40px;
}

.li-text {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.5;
}

footer {
    width: 100%;
}

.logo {
    align-items: left;
}

.searchbar-container {
    margin-top: 40px;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-input {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.search-button,
.reset-button,
.nextprevious-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.nextprevious-button {
    width: 100px;
    height: 50px;
    align-self: center;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.search-button {
    background-color: #007BFF;
    color: white;
}

.reset-button {
    background-color: #f44336;
    color: white;
}

.reset-button:hover {
    background-color: #d32f2f;
}

.search-button:hover {
    background-color: #0056b3;
}

.quiz-component {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ec3e86;
    border-radius: 4px;
}

.quizz-button {
    color: #ec3e86;
}

.quizz-button:hover {
    background-color: #ec3e86;
}

.question {
    margin-bottom: 20px;
}

.answer {
    display: inline-block;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
    user-select: none;
}

.answer.selected {
    border-color: blue;
}

.answer.correct {
    border-color: green;
}

.answer.wrong {
    border-color: red;
}

.answer.partial {
    border-color: orange;
}